/* Reset some default styling */
body, h1, p, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Style for the main container */
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
  
  /* Style for the profile section */
  .profile-section {
    flex: 1;
    text-align: center;
  }
  
  .profile-picture {
    width: 240px; /* Increase the width for a larger image */
    height: 220px; /* Increase the height for a larger image */
    border-radius: 20px; /* Add border radius for a rounded rectangle shape */
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .profile-section h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .contact-info {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
  }
  
  /* Style for the footer */
  .footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
  }
  
  /* Style for social links in the footer */
  .social-links {
    display: inline-block;
  }
  
  .social-links a {
    color: #0077b5;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .social-links a:hover {
    color: #005e8c;
  }

  @media (max-width: 768px) {
    .profile-section {
      flex-direction: column;
      align-items: center;
    }
  
    .profile-info {
      text-align: center;
    }
  }
  